body {
	font-family: 'Roboto', sans-serif;
	background-color: #171717;
	color: white;
	font-size: 24px;
	margin: 0;
	padding: 0;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 20vh;
	background-color: #171717;
}

.button_start_game {
	background-color: #171717;
	font-size: 32px;
	border: none;
	color: #e8e1e1;
	font-family: 'Roboto', sans-serif;
	border-radius: 5px;
	padding: 15px;
}

.button_start_game:hover {
	background-color: black;
	cursor:pointer;
	color: white;
	font-weight: bold;

}

.main {
	display: flex;
	width: 100%;
	background-color:#171717;
}

.player {
	width: 100%;
	display: flex;
}

.monster {
	width: 100%;
	display: flex;
}

.characters_mage {
	display: flex;
	flex-direction: column;
	width: 100%;
	color: white;
}

.characters_monster {
	width: 100%;
}

.hero {
	width: 100%;
}

.hero_video {
	width: 400px;
}